.all_pokemons {
  background-image: url("../../public/images/noise.png");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-color: #f1f1f1;
  & .pagination_and_page_size_selector {
    // margin:
    font-family: clashDisplay;
    font-size: 18px;
    font-weight: 500;
    width: 80%;
    margin: auto;
    padding-bottom: 150px;
    @include flex_base(flex-start, space-between, null, null);
    & .pagination {
      // width:20%;
      @media screen and (max-width: 646px) {
        border-right: 3px solid $grey3;
      }
    }
    & .page_size_selector {
      background-color: $grey3;
      @include flex_base(center, null, 1rem, null);
      padding: 5px 10px;
      border-radius: 10px;
      border: none;
      font-family: clashDisplay;
      &:hover {
        cursor: pointer;
      }
      & .number {
        background-color: $white;
        padding: 5px 10px;
        border-radius: 10px;
      }
      @media screen and (max-width: 646px) {
        margin-left: 20px;
      }
    }

    & .sizes {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 5px;
      font-family: clashDisplay;
      background-color: $white;
      border-radius: 8px;
      margin-top: 10px;

      & a {
        text-align: center;
        padding: 5px 20px;
        border-radius: 8px;
        &:hover {
          background-color: $grey4;
        }
      }
    }
  }
}
.all_pokemons .navbar {
  background-color: #ffffff;
  background-image: url("../../public/images/noise.png");
  background-size: cover;
  background-position: center;
  box-shadow: 0px 14px 24px 0px rgba(0, 0, 0, 0.0509803922);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  @media screen and (max-width: 468px) {
    padding: 10px;
    gap: 2rem;
  }
  & .search {
    border: 2px solid $grey3;
    box-shadow: 0px 4px 0px 0px #0000000d;
    @include flex_base(center, null, 1rem, null);
    border-radius: 30px;
    padding: 0 10px;
    & input {
      padding: 5px;
      width: 100%;
      background: transparent;
      border: none;
      font-size: 20px;
      &:focus {
        outline: none;
      }
    }
  }

  & .theme_selector {
    border: 2px solid $grey6;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    @include flex_base(center, center, 0, null);
    > a {
      // border: 2px solid ;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      // background-color: $pink;
    }
  }
}
.all_pokemons .navbar .logo_container {
  display: flex;
  align-items: center;
  gap: 1rem;
  &:hover {
    cursor: pointer;
  }
  @media screen and (max-width: 552px) {
    display: none;
  }
}
.all_pokemons .navbar .logo_container img {
  width: 100px;
  margin-bottom: -20px;
}
.all_pokemons .navbar .logo_container p {
  font-size: 24px;
  font-weight: 600;
  font-family: clashDisplay;
  @media screen and (max-width: 718px) {
    display: none;
  }
}
// .all_pokemons .navbar .logo_container p span {
//   color: #e85382;
// }
.all_pokemons .pokemon_list {
  padding: 100px 0 60px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem 2rem;
  margin: auto;
  width: 80%;
  align-items: flex-start;
  @media screen and (max-width: 1025px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 848px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 540px) {
    width: 90%;
  }
  @media screen and (max-width: 482px) {
    grid-template-columns: 1fr;
    width: 60%;
  }
  @media screen and (max-width: 400px) {
    width: 80%;
  }
}
.all_pokemons .pokemon_list > div {
  background-color: #ffffff;
  border-radius: 30px;
  padding: 10px 10px 20px 10px;
}
.all_pokemons .pokemon_list > div .pokemon_img_container {
  background-color: #f1f1f1;
  padding: 0 30px;
  border-radius: 30px;
  position: relative;
  width: 100%;
  height: 148px;
}
.all_pokemons .pokemon_list > div .pokemon_img_container img {
  margin: -50px auto auto auto;
  // width: 100%;
  position: absolute;
  width: 187.54px;
  height: 191px;
  object-fit: contain;
}
.all_pokemons .pokemon_list > div .pokemon_name {
  margin: 20px auto;
  text-align: center;
  font-family: clashDisplay;
  font-size: 24px;
  font-weight: 500;
}
.all_pokemons .pokemon_list > div > a {
  // background-color: #e85382;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  color: #ffffff;
  border-radius: 15px;
}
