* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 28.8px;
  scroll-behavior: smooth;
}
html{
    font-family: generalSans;

}
a {
  text-decoration: none;
  color: inherit;
}
//   html {
//     color: $grey_text;
//     background-color: $grey_bg;
//   }
.container {
  max-width: 1366px;
}
.sizes {
  display: flex;
  flex-direction: column;
  gap:5px;
  padding: 10px ;
  font-family: clashDisplay;
& a{
  // background-color: red;
  // width:100%;
  padding: 5px 40px;
  border-radius: 8px;
  &:hover{
    background-color: $grey4;
  }
}
}