.home {
  background-image: url("../../public/images/bg-img.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  @include flex_base(center, center, 1rem, column);
  & img {
    margin: 0 auto;
    @media screen and (max-width: 542px) {
      width: 90%;
    }
  }
  & .title {
    @include header1;
    font-family: clashDisplay;
    & span {
      color: $pink;
    }
  }
  & .search_container {
    @include flex_base(center, center, 10px, null);
    border: 6px solid $pink;
    border-radius: 40px;
    width: 30%;
    padding: 10px;
    margin-top: 7vh;
    & input {
      padding: 5px;
      width: 80%;
      background: transparent;
      border: none;
      font-size: 20px;
      &:focus {
        outline: none;
      }
    }
    & a {
      background-color: $pink;
      height: 34px;
      width: 34px;
      @include flex_base(center, center, null, null);
      border-radius: 50%;
    }
    @media screen and (max-width: 1255px) {
      width: 35%;
    }
    @media screen and (max-width: 961px) {
      width: 45%;
    }
    @media screen and (max-width: 782px) {
      width: 65%;
    }
    @media screen and (max-width: 492px) {
      width: 85%;
    }
    @media screen and (max-width: 376px) {
      width: 90%;
    }
  }
  & > a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
