.not_found {
  & > div {
    height: 100vh;
    width: 75%;
    @include flex_base(center, center, 30px, column);
    margin: auto;
    @media screen and (max-width: 474px) {
      width: 90%;
    }
    @media screen and (max-width: 376px) {
      width: 96%;
    }
    & img {
      width: 30%;
      border-radius: 12px;
      @media screen and (max-width: 769px) {
        width: 50%;
      }
      @media screen and (max-width: 474px) {
        width: 70%;
      }
    }
    & p {
      font-size: 24px;
      font-family: clashDisplay;
      text-align: center;
    }
    & > div {
      @include flex_base(center, null, 20px, null);
      & a {
        color: white;
        padding: 10px 40px;
        border-radius: 8px;
      }
    }
  }
}
