* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 28.8px;
  scroll-behavior: smooth;
}

html {
  font-family: generalSans;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1366px;
}

.active_btn {
  background-color: #fcfeff;
  border-radius: 40px;
}

@font-face {
  font-family: clashDisplay;
  src: url("../fonts/ClashDisplay-Medium.otf");
}
@font-face {
  font-family: generalSans;
  src: url("../fonts/GeneralSans-Regular.woff");
}
.home {
  background-image: url("../../public/images/noise.png");
  background-size: cover;
  background-position: center;
  background-color: #f1f1f1;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
}
.home img {
  margin: 0 auto;
}
@media screen and (max-width: 542px) {
  .home img {
    width: 90%;
  }
}
.home .title {
  font-size: 54px;
  font-weight: 600;
  font-family: clashDisplay;
}
.home .search_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-radius: 40px;
  width: 30%;
  padding: 10px 7px;
  margin-top: 7vh;
}
.home .search_container input {
  padding: 5px;
  width: 80%;
  background: transparent;
  border: none;
  font-size: 20px;
}
.home .search_container input:focus {
  outline: none;
}
.home .search_container a {
  height: 34px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
@media screen and (max-width: 1255px) {
  .home .search_container {
    width: 35%;
  }
}
@media screen and (max-width: 961px) {
  .home .search_container {
    width: 45%;
  }
}
@media screen and (max-width: 782px) {
  .home .search_container {
    width: 65%;
  }
}
@media screen and (max-width: 492px) {
  .home .search_container {
    width: 85%;
  }
}
@media screen and (max-width: 376px) {
  .home .search_container {
    width: 90%;
  }
}
.home > a {
  text-decoration: underline;
  font-weight: 500;
}
.home > a:hover {
  text-decoration: none;
}

.all_pokemons {
  background-image: url("../../public/images/noise.png");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-color: #f1f1f1;
}
.all_pokemons .pagination_and_page_size_selector {
  font-family: clashDisplay;
  font-size: 18px;
  font-weight: 500;
  width: 80%;
  margin: auto;
  padding-bottom: 150px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media screen and (max-width: 646px) {
  .all_pokemons .pagination_and_page_size_selector .pagination {
    border-right: 3px solid #e1e1e1;
  }
}
.all_pokemons .pagination_and_page_size_selector .page_size_selector {
  background-color: #e1e1e1;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  font-family: clashDisplay;
  color: #000000;
}
.all_pokemons .pagination_and_page_size_selector .page_size_selector:hover {
  cursor: pointer;
}
.all_pokemons .pagination_and_page_size_selector .page_size_selector .number {
  background-color: #ffffff;
  padding: 5px 10px;
  border-radius: 10px;
}
@media screen and (max-width: 646px) {
  .all_pokemons .pagination_and_page_size_selector .page_size_selector {
    margin-left: 20px;
  }
}
.all_pokemons .pagination_and_page_size_selector .sizes {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  font-family: clashDisplay;
  background-color: #ffffff;
  border-radius: 8px;
  margin-top: 10px;
}
.all_pokemons .pagination_and_page_size_selector .sizes a {
  text-align: center;
  padding: 5px 20px;
  border-radius: 8px;
}
.all_pokemons .pagination_and_page_size_selector .sizes a:hover {
  background-color: #f3f3f3;
}

.all_pokemons .navbar {
  background-color: #ffffff;
  background-image: url("../../public/images/noise.png");
  background-size: cover;
  background-position: center;
  box-shadow: 0px 14px 24px 0px rgba(0, 0, 0, 0.0509803922);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
}
@media screen and (max-width: 468px) {
  .all_pokemons .navbar {
    padding: 10px;
    gap: 2rem;
  }
}
.all_pokemons .navbar .search {
  border: 2px solid #e1e1e1;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.0509803922);
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 30px;
  padding: 0 10px;
}
.all_pokemons .navbar .search input {
  padding: 5px;
  width: 100%;
  background: transparent;
  border: none;
  font-size: 20px;
}
.all_pokemons .navbar .search input:focus {
  outline: none;
}
.all_pokemons .navbar .theme_selector {
  border: 2px solid #868686;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.all_pokemons .navbar .theme_selector > a {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.all_pokemons .navbar .logo_container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.all_pokemons .navbar .logo_container:hover {
  cursor: pointer;
}
@media screen and (max-width: 552px) {
  .all_pokemons .navbar .logo_container {
    display: none;
  }
}

.all_pokemons .navbar .logo_container img {
  width: 100px;
  margin-bottom: -20px;
}

.all_pokemons .navbar .logo_container p {
  font-size: 24px;
  font-weight: 600;
  font-family: clashDisplay;
}
@media screen and (max-width: 718px) {
  .all_pokemons .navbar .logo_container p {
    display: none;
  }
}

.all_pokemons .pokemon_list {
  padding: 100px 0 60px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem 2rem;
  margin: auto;
  width: 80%;
  align-items: flex-start;
}
@media screen and (max-width: 1025px) {
  .all_pokemons .pokemon_list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 848px) {
  .all_pokemons .pokemon_list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 653px) {
  .all_pokemons .pokemon_list {
    width: 90%;
  }
}
@media screen and (max-width: 586px) {
  .all_pokemons .pokemon_list {
    grid-template-columns: 1fr;
    width: 60%;
  }
}
@media screen and (max-width: 400px) {
  .all_pokemons .pokemon_list {
    width: 80%;
  }
}

.all_pokemons .pokemon_list > div {
  position: relative;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 10px 10px 20px 10px;
}

.all_pokemons .pokemon_list > div .pokemon_img_container {
  background-color: #f1f1f1;
  padding: 0 30px;
  border-radius: 30px;
  position: relative;
  width: 100%;
  height: 148px;
}

.all_pokemons .pokemon_list > div .pokemon_img_container img {
  margin: -50px auto auto auto;
  position: absolute;
  width: 187.54px;
  height: 191px;
  object-fit: contain;
}

.all_pokemons .pokemon_list > div .pokemon_name {
  margin: 20px auto;
  text-align: center;
  font-family: clashDisplay;
  font-size: 24px;
  font-weight: 500;
}

.all_pokemons .pokemon_list > div > .view_container {
  background: #ffffff;
  transform: translateY(70%);
  width: 100%;
  position: absolute;
  z-index: 9;
  left: 0;
  bottom: 0;
  padding: 0 10px;
  padding-bottom: 13px;
  padding-top: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.all_pokemons .pokemon_list > div > .view_container a {
  padding: 12px 20px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  color: #ffffff;
  border-radius: 15px;
}

.drawer_inner_container {
  width: 45vw;
}
@media screen and (max-width: 1113px) {
  .drawer_inner_container {
    width: 65vw;
  }
}
@media screen and (max-width: 996px) {
  .drawer_inner_container {
    width: 85vw;
  }
}
@media screen and (max-width: 774px) {
  .drawer_inner_container {
    width: 100vw;
  }
}
.drawer_inner_container .img_container {
  width: 85%;
  margin: 20px auto;
  position: relative;
  height: 300px;
  padding: 10px;
  border-radius: 20px;
}
.drawer_inner_container .img_container .back_arrow {
  background-color: #ffffff;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  border-radius: 10px;
}
.drawer_inner_container .img_container img {
  object-fit: contain;
  position: absolute;
  bottom: -20%;
  transform: translateX(-50%);
  left: 50%;
  width: 400.7px;
  height: 300.4px;
}
@media screen and (max-width: 425px) {
  .drawer_inner_container .img_container img {
    width: 300.7px;
    height: 200.4px;
  }
}
.drawer_inner_container .pokemon_details {
  width: 85%;
  margin: auto;
}
.drawer_inner_container .pokemon_details .name {
  font-size: 48px;
  font-weight: 600;
  font-family: clashDisplay;
  margin-top: 80px;
  text-align: center;
}
.drawer_inner_container .pokemon_details .types {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.drawer_inner_container .pokemon_details .types p {
  background-color: #eeeeee;
  padding: 3px 15px;
  border-radius: 18px;
}
.drawer_inner_container .pokemon_details .line {
  height: 2px;
  background: linear-gradient(270deg, rgb(255, 255, 255) -20%, rgba(217, 217, 217, 0.27) 45.3%, rgb(255, 255, 255) 102.92%);
  margin: 30px auto 10px auto;
}
.drawer_inner_container .pokemon_details .about {
  width: 60%;
  margin: auto;
  text-align: center;
}
@media screen and (max-width: 649px) {
  .drawer_inner_container .pokemon_details .about {
    width: 100%;
  }
}
.drawer_inner_container .pokemon_details .about .line {
  height: 2px;
  background: linear-gradient(270deg, rgb(255, 255, 255) -20%, rgba(217, 217, 217, 0.27) 45.3%, rgb(255, 255, 255) 102.92%);
  margin: 10px auto 10px auto;
}
.drawer_inner_container .pokemon_details .about .section_title {
  font-size: 24px;
  font-weight: 600;
  font-family: clashDisplay;
}
.drawer_inner_container .pokemon_details .about > div {
  background: linear-gradient(270deg, #ffffff 0%, rgba(217, 217, 217, 0.06) 51.04%, #ffffff 100%);
  font-family: clashDisplay;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 80%;
  margin: auto;
}
@media screen and (max-width: 649px) {
  .drawer_inner_container .pokemon_details .about > div {
    width: 100%;
  }
}
.drawer_inner_container .pokemon_details .about > div > div {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  border-bottom: 1px solid linear-gradient(270deg, rgb(255, 255, 255) -20%, rgba(217, 217, 217, 0.27) 45.3%, rgb(255, 255, 255) 102.92%);
}
.drawer_inner_container .pokemon_details .about > div > div .detail_name {
  font-family: generalSans;
  font-weight: 400;
}
.drawer_inner_container .pokemon_details .about > div main {
  height: 2px;
  background: linear-gradient(270deg, rgb(255, 255, 255) -20%, rgba(217, 217, 217, 0.27) 45.3%, rgb(255, 255, 255) 102.92%);
}
.drawer_inner_container .pokemon_details .stats .section_title {
  font-size: 24px;
  font-weight: 600;
  font-family: clashDisplay;
  text-align: center;
}
.drawer_inner_container .pokemon_details .stats > div {
  width: 75%;
  margin: 20px auto 30px auto;
}
.drawer_inner_container .pokemon_details .stats > div > div {
  display: grid;
  grid-template-columns: 1fr 1fr 0.2fr;
  align-items: center;
  text-align: right;
  gap: 1rem;
  font-family: clashDisplay;
  font-size: 20px;
  font-weight: 600;
  padding: 5px 0;
}
.drawer_inner_container .pokemon_details .stats > div > div .stat_name {
  font-family: generalSans;
  font-weight: 400;
  font-size: 18px;
}
.drawer_inner_container .similar p {
  font-size: 24px;
  font-weight: 600;
  font-family: clashDisplay;
  text-align: center;
}
.drawer_inner_container .similar > div {
  padding: 30px 0;
  margin-top: 15px;
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(233, 233, 233, 0.48) 10.08%, rgba(233, 233, 233, 0.48) 90.08%, rgb(255, 255, 255) 100%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media screen and (max-width: 636px) {
  .drawer_inner_container .similar > div {
    flex-direction: column;
    gap: 3rem;
    padding-top: 60px;
  }
}
.drawer_inner_container .similar > div > div {
  background-color: #ffffff;
  padding: 18px;
  border-radius: 20px;
  position: relative;
  width: 210px;
  height: 180px;
}
.drawer_inner_container .similar > div > div p {
  margin-top: 10px;
}
.drawer_inner_container .similar > div > div > div {
  border-radius: 20px;
  background-color: #f1f1f1;
  position: relative;
  width: 100%;
  height: 115px;
}
.drawer_inner_container .similar > div > div > div img {
  width: 100%;
  position: absolute;
  top: -53px;
  height: 140px;
  width: 140px;
  left: 50%;
  transform: translateX(-50%);
}
.drawer_inner_container .drawer_menu {
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.06) inset;
  background: rgb(233, 233, 233);
  width: 65%;
  margin: 20px auto;
  font-family: clashDisplay;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
  border-radius: 40px;
  position: sticky;
  bottom: 10px;
  left: 10px;
}
.drawer_inner_container .drawer_menu a {
  padding: 10px 30px;
}
@media screen and (max-width: 427px) {
  .drawer_inner_container .drawer_menu a {
    padding: 10px 15px;
  }
}
@media screen and (max-width: 614px) {
  .drawer_inner_container .drawer_menu {
    width: 85%;
  }
}
@media screen and (max-width: 425px) {
  .drawer_inner_container .drawer_menu {
    width: 95%;
  }
}

.theme_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: #ffffff;
  background-image: url("../../public/images/noise.png");
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}
.theme_modal p {
  font-size: 24px;
  text-align: center;
  font-family: clashDisplay;
  padding: 10px 0;
}
.theme_modal .themes {
  background-color: #f1f1f1;
  background-image: url("../../public/images/noise.png");
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 40px 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.theme_modal .themes > div {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.theme_modal .themes > div > a {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}