* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 28.8px;
  scroll-behavior: smooth;
}

html {
  font-family: generalSans;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1366px;
}

@font-face {
  font-family: clashDisplay;
  src: url("../fonts/ClashDisplay-Medium.otf");
}
@font-face {
  font-family: generalSans;
  src: url("../fonts/GeneralSans-Regular.woff");
}
.home {
  background-image: url("../../public/images/bg-img.png");
  background-size: cover;
  background-position: center;
  background-color: #f1f1f1;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
}
.home img {
  margin: 0 auto;
}
@media screen and (max-width: 542px) {
  .home img {
    width: 90%;
  }
}
.home .title {
  font-size: 54px;
  font-weight: 600;
  font-family: clashDisplay;
}
.home .title span {
  color: #e85382;
}
.home .search_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 6px solid #e85382;
  border-radius: 40px;
  width: 30%;
  padding: 10px;
  margin-top: 7vh;
}
.home .search_container input {
  padding: 5px;
  width: 80%;
  background: transparent;
  border: none;
  font-size: 20px;
}
.home .search_container input:focus {
  outline: none;
}
.home .search_container a {
  background-color: #e85382;
  height: 34px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
@media screen and (max-width: 1255px) {
  .home .search_container {
    width: 35%;
  }
}
@media screen and (max-width: 961px) {
  .home .search_container {
    width: 45%;
  }
}
@media screen and (max-width: 782px) {
  .home .search_container {
    width: 65%;
  }
}
@media screen and (max-width: 492px) {
  .home .search_container {
    width: 85%;
  }
}
@media screen and (max-width: 376px) {
  .home .search_container {
    width: 90%;
  }
}
.home > a {
  text-decoration: underline;
}
.home > a:hover {
  text-decoration: none;
}

.all_pokemons {
  background-image: url("../../public/images/bg-img.png");
  background-size: cover;
  background-position: center;
  background-color: #f1f1f1;
}

.all_pokemons .navbar {
  background-color: #ffffff;
  background-image: url("../../public/images/bg-img.png");
  background-size: cover;
  background-position: center;
  box-shadow: 0px 14px 24px 0px rgba(0, 0, 0, 0.0509803922);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
}
@media screen and (max-width: 468px) {
  .all_pokemons .navbar {
    padding: 10px;
    gap: 2rem;
  }
}
.all_pokemons .navbar .search {
  border: 2px solid #e1e1e1;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.0509803922);
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 30px;
  padding: 0 10px;
}
.all_pokemons .navbar .search input {
  padding: 5px;
  width: 100%;
  background: transparent;
  border: none;
  font-size: 20px;
}
.all_pokemons .navbar .search input:focus {
  outline: none;
}
.all_pokemons .navbar .theme_selector {
  border: 2px solid #868686;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.all_pokemons .navbar .theme_selector > a {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #e85382;
}

.all_pokemons .navbar .logo_container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media screen and (max-width: 552px) {
  .all_pokemons .navbar .logo_container {
    display: none;
  }
}

.all_pokemons .navbar .logo_container img {
  width: 100px;
  margin-bottom: -20px;
}

.all_pokemons .navbar .logo_container p {
  font-size: 24px;
  font-weight: 600;
  font-family: clashDisplay;
}
@media screen and (max-width: 718px) {
  .all_pokemons .navbar .logo_container p {
    display: none;
  }
}

.all_pokemons .navbar .logo_container p span {
  color: #e85382;
}

.all_pokemons .pokemon_list {
  padding: 100px 0 60px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem 2rem;
  margin: auto;
  width: 80%;
}
@media screen and (max-width: 1025px) {
  .all_pokemons .pokemon_list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 848px) {
  .all_pokemons .pokemon_list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 540px) {
  .all_pokemons .pokemon_list {
    width: 90%;
  }
}
@media screen and (max-width: 482px) {
  .all_pokemons .pokemon_list {
    grid-template-columns: 1fr;
    width: 60%;
  }
}
@media screen and (max-width: 400px) {
  .all_pokemons .pokemon_list {
    width: 80%;
  }
}

.all_pokemons .pokemon_list > div {
  background-color: #ffffff;
  border-radius: 30px;
  padding: 10px 10px 20px 10px;
}

.all_pokemons .pokemon_list > div .pokemon_img_container {
  background-color: #f1f1f1;
  padding: 0 30px;
  border-radius: 30px;
}

.all_pokemons .pokemon_list > div .pokemon_img_container img {
  margin: -50px auto auto auto;
  width: 100%;
}

.all_pokemons .pokemon_list > div .pokemon_name {
  margin: 20px auto;
  text-align: center;
}

.all_pokemons .pokemon_list > div > a {
  background-color: #e85382;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  color: #ffffff;
  border-radius: 15px;
}