* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 28.8px;
  scroll-behavior: smooth;
}

html {
  font-family: generalSans;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1366px;
}

@font-face {
  font-family: clashDisplay;
  src: url("../fonts/ClashDisplay-Medium.otf");
}
@font-face {
  font-family: generalSans;
  src: url("../fonts/GeneralSans-Regular.woff");
}
.home {
  background-image: url("../../public/images/bg-img.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
}
.home img {
  margin: 0 auto;
}
@media screen and (max-width: 542px) {
  .home img {
    width: 90%;
  }
}
.home .title {
  font-size: 54px;
  font-weight: 600;
  font-family: clashDisplay;
}
.home .title span {
  color: #E85382;
}
.home .search_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 6px solid #E85382;
  border-radius: 40px;
  width: 25%;
  padding: 10px;
  margin-top: 7vh;
}
.home .search_container input {
  padding: 5px;
  width: 80%;
  background: transparent;
  border: none;
  font-size: 20px;
}
.home .search_container input:focus {
  outline: none;
}
.home .search_container a {
  background-color: #E85382;
  height: 34px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
@media screen and (max-width: 1255px) {
  .home .search_container {
    width: 35%;
  }
}
@media screen and (max-width: 961px) {
  .home .search_container {
    width: 45%;
  }
}
@media screen and (max-width: 782px) {
  .home .search_container {
    width: 65%;
  }
}
@media screen and (max-width: 492px) {
  .home .search_container {
    width: 85%;
  }
}
@media screen and (max-width: 376px) {
  .home .search_container {
    width: 90%;
  }
}
.home > a {
  text-decoration: underline;
}
.home > a:hover {
  text-decoration: none;
}